<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>
<body>
    <form action="/forget_password" method="POST">
        <label for="Email">Enter Email:</label>
        <input type="email" id="email" name="Email">
        <button type="submit" id="buttn">submit</button>
    </form>
    <script>
        const buttn=document.getElementById('buttn');
        buttn.addEventListener('click',forgetPass);
        async function forgetPass(e){
            e.preventDefault();
            try{
                const token=localStorage.getItem('token');
                const response = await axios.post('http://localhost:5500/sendEmail', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
            }catch(err){
                console.log(err);
            }
        }
    </script>
</body>
</html>